body{
    margin:0;
    padding:0;
    text-align:center;
    color:#fff;
    background-color:#222;
             background-image: url('https://www.today.it/~media/horizontal-hi/54653897583477/coronavirus-3.jpg');
    
    
         }
.main{
    margin-top:40px;
}
#all_div, #latest_div{
  
   margin:10px;
   border-radius:40px;
  
   height: 600px;
}

#mapid{
    width: 600px; 
 
   height: 500px;
}
section.data{
    display: flex;
}