body{
    margin:5px auto;
    padding:2px;
    text-align:center;
    color:#fff;
    background-color:#222;

         }
.main{
    margin-top:40px;
}
#all_div, #latest_div,#mapid{
   margin:14px;
   border-radius:14px;
   height: 550px;
    width:100%;
    max-width: 640px;
}


section.data{
    display: flex;
}
